<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AppBD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Lista de Farmaceuticas</h1>
  <ion-list>
    <ion-item *ngFor="let documentTarea of arrayColeccionTareas" (click)="selecTarea(documentTarea)">
      <img alt="Farmaceuticas" src="https://source.unsplash.com/random/1x1/?{{documentTarea.data.empresa}}" />

      <ion-grid>
        <ion-row>
          <h2>{{ documentTarea.data.empresa }}</h2>
        </ion-row>
        <ion-row>
          <p>{{ documentTarea.data.medicamento }}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab-button class="Añadir secundario" style=" position: fixed; right: 0;bottom: 0; margin:10px;" (click)="clickBotonInsertar()">Añadir</ion-fab-button>
</ion-content>